.friends-list {
    list-style: none;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.friends-list li {
    width: 25%;
    padding: 20px;
    background: rgb(66, 185, 185);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(139, 151, 25);
    border-top: 0;
}

.friends-list h1 {
    width: 25%;
    padding: 10px 20px;
    background: rgb(139, 151, 25);
    border: 1px solid rgb(139, 151, 25);
    margin-bottom: 0;
    color: #fff;
}